<table id="example2" class="table table-bordered table-hover table-list-account">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama Yayasan</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < listAccount.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= listAccount[i].fullname %></td>
      <td>
        <span class="badge badge-success"> <%= listAccount[i].role %> </span>
      </td>
      <td class="d-flex">
        <a href="/list-account/<%= listAccount[i].id %>" class="btn btn-info btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Ubah
        </a>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
