<table id="example1" class="table table-bordered table-hover table-jurnal">
  <thead>
    <tr>
      <th>No.</th>
      <th>Tanggal</th>
      <th>Keterangan</th>
      <th>Kode Akun</th>
      <th>Debit</th>
      <th>Kredit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%# for(let i = 0; i < getAllCategory.length; i++) { %>
    <tr>
      <td><%#= i + 1 %></td>
      <td><%#= getAllCategory[i].name %></td>
      <td><%#= getAllCategory[i].name %></td>
      <td><%#= getAllCategory[i].name %></td>
      <td><%#= getAllCategory[i].name %></td>
      <td><%#= getAllCategory[i].name %></td>
      <td class="d-flex">
        <a href="/article/category/edit/<%#= getAllCategory[i].id %>" class="btn btn-info btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Ubah
        </a>
        <a
          href="javascript:void()"
          type="button"
          class="btn btn-danger btn-sm ml-1 button-delete-catatan"
          data-id="<%#= getAllCategory[i].id %>"
        >
          <i class="fas fa-trash-alt"></i>
          Hapus
        </a>
      </td>
    </tr>
    <%# } %>
  </tbody>
</table>
